CompileFlags:
    Remove: [-march=rv32imafcxw, -march=rv32ecxw, -march=rv32imac,  -mcmodel=medany, -mabi=,-G,-mno-save-restore]

Diagnostics:
  Suppress: [drv_unsupported_opt_for_target，pp_including_mainfile_in_preamble, unused-includes]