[submodule "libs/tflite-micro"]
	path = libs/tflite-micro
	url = https://github.com/tensorflow/tflite-micro
[submodule "libs/CherryUSB"]
	path = libs/CherryUSB
	url = https://github.com/cherry-embedded/CherryUSB
[submodule "libs/TinyMaix"]
	path = libs/TinyMaix
	url = https://github.com/sipeed/TinyMaix
[submodule "libs/wasm-micro-runtime"]
	path = libs/wasm-micro-runtime
	url = https://github.com/bytecodealliance/wasm-micro-runtime
[submodule "libs/esp-tflite-micro"]
	path = libs/esp-tflite-micro
	url = https://github.com/espressif/esp-tflite-micro
[submodule "libs/ch32v307"]
	path = libs/ch32v307
	url = https://github.com/openwch/ch32v307
[submodule "libs/ch592"]
	path = libs/ch592
	url = https://github.com/openwch/ch592
